/* Animate the logo with keyframes.  (Here is a keyframes reference.) It should start at a width of 25px and grow to 475px.  It should also start with an opacity of 0 and end with an opacity of 1. The animation should take 5 seconds and only happen when the page is loaded. **You can complete this step later in the process - it won’t affect the larger views.  */

@keyframes logo{
    from{
        width: 25px;
        opacity: 0;
    }
    to{
        width: 475px;
        opacity: 1;
    }
}
#logo{
    animation-name: logo;
    animation-duration: 5s;
    animation-fill-mode: forwards; /* Ensures the logo stays at the final state of the animation */
    animation-iteration-count: 1;
}




  /* Edit the body element to use the Poppins font (using Google fonts) with serif as a backup.  It should also use the image “concrete_seamless.png” as a background-image with a backup color of #f1f1f1. */

body{
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

/* Edit the css for the header tag (all instances) to use flex to match our example. */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;
}

/* Edit the css for the nav_links class to use flex to match our example. Do not modify the list items or the links - modify the nav_links class to use flex.  */

.nav_links{
    display: flex;
    flex-direction: column;
}

/* Style the links so that they have the same color even after they have been visited. This is a “challenge” problem. You should not give or receive help when completing it. */

a:visited{
    color: blue;
}

/* Identify the proper selector to style ONLY those header elements that are direct children of a card class.  The required styling is the following: 
background: #288088,
solid 2px border using #45ADAD,
20px of padding on the top and the bottom, 
50px border-radius on the top left and right corners. */

.card > header{
    background: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0;
    border-radius: 50px 50px 0 0;
}
.card{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* Edit the css for the card class to match our example. Achieve this by using a flex-property to specify an initial “size” of 450px.  You need to think about this from a “flex” perspective and realize that flex-direction will affect the size of the elements.  You can see that in the mobile view they all have the same width.  */

.card{
    display:flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

/* 
Edit the css for the pricing class to match our example. You should use flex and the cards should be centered both horizontally and vertically. */

.pricing{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Style the images in the gallery class. These elements will have a solid 10px border with a color of #50C7C7, 10px margin on all four sides and a width of 300px.  */

.gallery img{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

/* Edit the css for the gallery class to use flex to match our example. (You may want to look at the screen shots from 1200px and 1500px as well -  the changes are not from media queries, but from the use of flex.) */

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Edit the css for the header tag (all instances) and the nav_links class to match our example using flex-properties. The logo should be as far to the left as possible and the links as far to the right as possible. Use flex properties, NOT position properties. */

@media (min-width: 900px){
    header{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
    .nav_links{
      display: flex;
      flex-direction: row;
    }
    /* Edit the css for the pricing and card classes to match our example. Part of achieving this is by using a flex-property to specify a “size” of 275px. Notice that the elements do not have the same height, but do have the same width. */
    .pricing{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      
    }
    .card{
      display: flex;
      flex-basis: 275px;
      margin-left: 25px;
      margin-right: 0;
    }
    /* Modify the first header (the one not inside main) so that it remains visible at the top of the screen even as we scroll down. Make sure that it is always visible. You can see an example of this in the video and in the screenshot at 1200px when scrolled. This is a challenge problem. You should not give or receive help when completing it. */
    header:not(main header){
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
    }
}
/* The logo should appear but not be animated if prefers-reduced-motion is selected in the accessibility preferences. */

@media (prefers-reduced-motion: reduce){
    #logo{
      animation: none;
    }
}

@media print{
/* @media (min-width: 400px){ */
  /* Change the font on your body to Arial with a backup value of  Helvetica */
  body{
    font-family: "Arial", "Helvetica";
  }
  /* The background image should be removed.  */
  body{
    background-image: none;
  }
  /* Edit the nav/nav_links elements so that they are spaced according to the image above. */
  .nav_links{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
  }
  /* Edit the pricing class so that the elements align along the bottom.  As long as it aligns along the bottom we don't care if the cards aren't the same height */
  .pricing{
    display: flex;
    flex-direction: row;
    flex-basis: 275px !important;

  }
  .card{
    margin-left: 10px;
    margin-right: 10px;
    width: 275px;
    margin-bottom: 20px;
  }
  /* The card elements should have a solid border 2px of #45ADDD and use flex-basis of 325px. */
  .card{
    border: solid 2px #45ADDD;
    flex-basis: 325px;
  }
  /* No part of the gallery should be visible. */
  #gallery{
    display: none;
  }
  .gallery{
    display: none;
  }

  /* Without using list-style-type add the thumbs up entity as shown in the cards. This is a challenge problem. You should not give or receive help when completing it.**For some people the thumbs up is not printing as yellow. That is fine */

  .card li:nth-child(2)::after{
    content: "\1F44D";
    font-size: 1em;
    color: yellow;
  }

}